.aboutUs{
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    .contHeader{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 50vh;
        min-height: 500px;

        .slider{
            display: flex;
            overflow: hidden;

            .contCards{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 350px;
                height: 300px;
                position: relative;
                background-color: #ffffff;
                margin: 10px;
                transition: all 1s ease-out;
        
                .card{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    flex-wrap: wrap;
                    width: 350px;
        
                    .contImg{
                        width: 350px;
                        height: 250px;
        
                        img{
                            width: 350px;
                            height: 250px;
                            object-fit: cover;
                        }
                    }
            
                    .contName{
                        background-color: #fff;
                        width: 80%;
                        height: 100px;
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        box-shadow: 0 5px 10px 1px #ebe9e9;
                        margin-top: -60px;
                        h3{
                            padding-left: 20px;
                            font-size: 25px;
                        }
                    }
                }
        
                
            }

        }

        

        .leftArrow{
            position: absolute;
            top: 370px;
            left: 50px;
            color: black;
            width: 30px;
            height: 30px;
            border: none;
            border-radius: 50%;
            background-color: #aaa;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
        }

        .rightArrow{
            position: absolute;
            top: 370px;
            right: 50px;
            color: black;
            width: 30px;
            height: 30px;
            border: none;
            border-radius: 50%;
            background-color: #aaa;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
        }

    }

    
}