.aboutUs{
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .contHeader{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contCards{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 80%;
        position: relative;
        background-color: #ffffff;

        .contImg{
            position: absolute;
            top: 0;
            left: 0;
            width: 350px;
            height: 400px;
            img{
                width: 350px;
                height: 250px;
                object-fit: cover;
            }
        }

        .contName{
            position: absolute;
            bottom: 100px;
            background-color: #fff;
            width: 80%;
            height: 100px;
            display: flex;
            justify-content: start;
            align-items: center;
            box-shadow: 0 5px 10px 1px #ebe9e9;

            h3{
                padding-left: 20px;
            }
        }
    }
}