.partnersPage{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .imgContB1{
        overflow: hidden;
        width: 100vw;
        height: 70vh;
        background-color: #000000;
        position: relative;

        @media (max-width: 830px) {
            height: 60vh;
        }
    
        @media (max-width: 580px) {
            height: 50vh;
        }

        img{
            width: 100%;
            object-fit: cover;
            opacity: 0.4;
            animation: img 10s 1;

            @keyframes img {
                0%{
                    transform: scale(1) ;
                }
                50%{
                    transform: scale(1.2) ;
                }
                100%{
                    transform: scale(1) ;
                }
                
            }

        }

        .textOff{
            position: absolute;
            top: 50%;

            h1{
                font-size: 60px;
                color: #d9d8d8; 
                letter-spacing: 2px;
                width: 100vw;
                text-align: center;

                @media (max-width: 1071px) {
                    font-size: 50px;
                }

                @media (max-width: 940px) {
                    font-size: 40px;
                }

                @media (max-width: 770px) {
                    font-size: 35px;
                }

                @media (max-width: 660px) {
                    font-size: 30px;
                }
            }

            h2{
                font-size: 20px;
                color: #d9d8d8; 
                letter-spacing: 2px;
                width: 100vw;
                text-align: center;

                @media (max-width: 660px) {
                    font-size: 15px;
                }
            }
        }
    }

    .infoCont{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 100px 0;
        width: 60%;
        height: 80vh;
        background-color: rgba(255, 255, 255, 0.9);
        overflow: hidden;
        box-shadow: 0 0 10px 1px #aaa;
        min-width: 370px;
        min-height: 580px;
        max-height: 600px;

        @media (max-width: 780px) {
            width: 80%;
        }

        @media (max-width: 578px) {
            width: 90%;
        }

        @media (max-width: 511px) {
            width: 95%;
            height: 60vh;
        }   

        .info{
            flex: 5;
            height: 100%;

            .infoA1{
                display: flex;
                align-items: start;
                justify-content: center;
                flex-direction: column;
                color: #000000;
                margin-top: 20px;

                .names{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 10px 0 10px;
                    margin-bottom: 30px;

                    @media (max-width: 1135px) {
                        margin-bottom: 10px;
                    }

                    h1{
                        border-bottom: 1px solid #000000;
                        margin-right: 20px;

                        @media (max-width: 1350px) {
                            font-size: 30px;
                        }

                        @media (max-width: 1135px) {
                            font-size: 25px;
                        }

                        @media (max-width: 1063px) {
                            font-size: 20px;
                            margin-right: 10px;
                        }

                        @media (max-width: 964px) {
                            font-size: 15px;
                            margin-right: 5px;
                        }
                    }

                    h3{

                        @media (max-width: 1282px) {
                            font-size: 15px;
                        }

                        @media (max-width: 1063px) {
                            font-size: 13px;
                        }

                        @media (max-width: 964px) {
                            font-size: 11px;
                        }

                    }
                }

                .cvInfo{
                    display: flex;
                    justify-content: center;
                    align-items: start;
                    flex-direction: column;
                    margin: 0 10px;

                    p{
                        line-height: 25px;
                        font-size: 15px;
                        margin-bottom: 10px;

                        @media (max-width: 1350px) {
                            font-size: 13px;
                            margin-bottom: 5px;
                        }

                        @media (max-width: 1135px) {
                            margin-bottom: 0;
                            line-height: 23px;
                        }

                        @media (max-width: 484px) {
                            line-height: 20px;
                        }

                        @media (max-width: 421px) {
                            line-height: 18px;
                        } 
                    }
                }

            }
        }

        .infoImg{
            flex: 3;
            height: 100%;

            @media (max-width: 880px) {
                flex:2;
            }
            

            img{
                width: 125%;
                height: 100%;
                object-fit: cover;

                @media (max-width: 450px) {
                    width: 150%;
                }
            }
        }
    }
}